{% extends 'base.jinja2' %}

{% block title %} Contact {% endblock %}

{% block content %}
	<section class="py-3 container">
		<div class="row py-lg-5">
			<div class="col-lg-8 col-md-12 mx-auto">
				<h1 class="fw-light text-center">Contact {{ site_config['name'] }}'s designer, CoinSearchr</h1>
				<p class="lead text-muted text-center">We value all feedback, positive and negative. Let us know what you like, or what you want improved.</p>

				<div class="text-left">
					<ul class="">
						<li><a href="https://reddit.com/u/coin-searchr" class="text-decoration-none" target="_blank">Discuss on Reddit</a></li>
						<li><a href="mailto:coinsearchr+wasuggest_feedback@protonmail.com" class="text-decoration-none">Email CoinSearchr</a> (coinsearchr [at] protonmail [dot] com)</li>
						<li><a href="https://github.com/CoinSearchr/WolframAlphaSuggest" target="_blank" class="text-decoration-none">Contribute on GitHub</a> or <a href="https://github.com/CoinSearchr/WolframAlphaSuggest/issues" target="_blank" class="text-decoration-none">Open an Issue</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
